homework/Relax-NG/DraculaRelaxN-G/WargodraculaStarter.rnc

start = root
root = element root {title, chapter+}
title = element title {text}
chapter = element chapter {n?, heading, p+}
n = attribute n {xsd:integer}
heading = element heading {text}
p = element p {n, mixed{ (date | time | q)*} }
date = element date {text}
time = element time {text}
q = element q {wordCount, mixed {(time | date)*}}
wordCount = attribute wordCount {xsd:integer}
